<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="customer/settings" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    
    <div class="logo" (click)="goToDashboard()">
      <img src="assets/imgs/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-card">
    <img [src]="userImgDir + profileImgPath" class="profile-image" alt="Profile Picture">
    <div class="photo-div">
      <ion-icon (click)="getPicture()" class="photo-icon" name="camera-outline"></ion-icon>
    </div>
    <!-- <ion-button color="success" (click)="getPicture()">Change Photo</ion-button> -->
    <div class="profile-details">
      <h2 class="customer-name">{{ customer.user?.firstName }} {{ customer.user?.lastName }}</h2>
      <p class="customer-email" style="color: var(--ion-color-color4);">{{ customer.user?.email }}</p>
      <p class="customer-number" style="color: var(--ion-color-color4);">{{ customer.user?.phones[0].number }}</p>
    </div>
  </div>
  <div class="info-card">
    <div class="info-section">
      <div class="info-label">Height:</div>
      <div class="info-value">{{ customer.height }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Weight:</div>
      <div class="info-value">{{ customer.weight }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">DOB:</div>
      <div class="info-value">{{ customer.dob | date: 'longDate' }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Dietary Preference:</div>
      <div class="info-value">{{ customer.dietaryPreference }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Occupation:</div>
      <div class="info-value">{{ customer.occupation }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Goals:</div>
      <div class="info-value">{{ customer.goals }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Reason for Seeking Professional:</div>
      <div class="info-value">{{ customer.reasonSeekProfessional }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Medical Information:</div>
      <div class="info-value">{{ customer.medicalInfo }}</div>
    </div>
    <div class="info-section">
      <div class="info-label">Address:</div>
      <div class="info-value">{{ customer.user?.address?.lineOne }}, {{ customer.user?.address?.city }}, {{ customer.user?.address?.zipCode }}</div>
    </div>
  </div>
</ion-content>