ion-header {
  ion-toolbar {
    ion-buttons {
      ion-back-button {
        position: absolute;
        --color: white;
        --icon-margin-start: 8px;
        --icon-font-size: 40px;
        // --icon-font-weight: 100px;
      }
      //this is a solution to hide back button text from github
      // https://github.com/ionic-team/ionic-framework/issues/29281
      ion-back-button::part(text) {
        position: absolute;
        left: -9999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }
}
  
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .profile-details {
    text-align: center;
  }
  
  .profile-details h2 {
    margin: 5px 0;
    color: black;
    font-size: 2rem;
  }
  
  .profile-details p {
    margin: 5px 0;
    font-size: 1.4rem;
    color: #333;

  }
  
  .profile-details a {
    color: var(--ion-color-color4);
    text-decoration: none;
  }
  
  .info-card {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .info-section {
    margin-bottom: 10px;
  }
  
  .info-label {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  
  .info-value {
    // color: #333;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  
  .address {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: black;
  }
  
  
  a {
    color: var(--ion-color-color4);
    text-decoration: none;
  }
  