<ion-content>

  <ion-row class="login-title">
    <ion-col>
      <ion-label>
        Registration Complete
      </ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <div class="page-content">
    <img class="graphic" src="/assets/imgs/page-graphic.png"/>

    <!-- <ion-row class="logo">
      <ion-col>
        <img src="assets/imgs/logo.png">
      </ion-col>
    </ion-row> -->
  </div>

  <ion-row>
    <ion-col class="registration-message">
      <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      <h1>Registration Complete!</h1>
      <h4>Your registration was submitted successfully. Please wait while I review your details.</h4>
      <p>I will be in touch soon.</p>
      <small>Your Nutritionist: Camila <ion-icon name="heart" color="danger" size="small"></ion-icon></small>
    </ion-col>
  </ion-row>
</ion-content>