ion-row.forgot-pass-title {
    margin-top: 6vh;
    ion-col {
        display: flex;
        align-items: center;
        gap: 10px;
        ion-label {
            font-size: 1.36rem;
            font-weight: 700;
            p {
                margin-top: 30px;
            }
        }
        ion-icon {
            font-size: 1.5rem;
        }
    }
}

ion-row.login-logo {
    margin-top: 8vh;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 150px;
            margin-bottom: 20px;
            
        }
    }
    
}