.graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
}


ion-toast.error-toast {
    --background: rgb(253, 181, 181);
    color:  rgb(179, 23, 23);
}

ion-toast.success-toast {
    --background: rgb(127, 216, 127);
    color:  rgb(18, 80, 18);
}


ion-row.forgot-pass-title {
    margin-top: 6vh;
    ion-col {
        display: flex;
        align-items: center;
        gap: 10px;
        ion-label {
            font-size: 1.36rem;
            font-weight: 700;
            p {
                margin-top: 30px;
            }
        }
        ion-icon {
            font-size: 1.5rem;
        }
    }
}

ion-row.logo {
    margin-top: 8vh;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 150px;
            margin-bottom: 20px;
            
        }
    }
    
}

form {
    // background-color: red;
    ion-input {
        --padding-start: 20px;
        --border-radius: 10px;
        ion-button {
            ion-icon {
            color:  #44aa79;
            }
        }
    }
    ion-row {
        margin-bottom: 20px;
        ion-col {
            padding: 0;
            p {
                font-weight: 600;
                font-size: 0.8rem;
                display: inline-block;
            }
        }
    }

    ion-button.send-email {
        color: black;
        --border-radius: 10px;
        letter-spacing: 0;
        font-size: 1.3rem;
        --background: #44aa79;
        --background-activated: #60b48b;
        text-transform: none;
    }
}

ion-row.sign-up {
    margin-top: 20px;
    ion-col {
        text-align: center;
        ion-text {
            color: #757171;
            font-size: 0.8rem;
            font-weight: 600;
            span {
                color: black;
            }
            p {
                margin-top: 20px;
            }
        }
    }
}