


<ion-content>
  <img class="graphic" src="/assets/imgs/page-graphic.png"/>
  <ion-toast
  class="error-toast"
  isOpen="{{showErrorToast}}"
  message="{{errorToastText}}"
  duration="2000"
  position="top"
  (ionToastDidDismiss)="showErrorToast = false">
  </ion-toast>
  
  <ion-toast
  class="success-toast"
  isOpen="{{showSuccessToast}}"
  message="{{successToastText}}"
  duration="2000"
  position="top"
  (ionToastDidDismiss)="showSuccessToast = false">
  </ion-toast>

  <ion-row class="forgot-pass-title">
    <ion-col>
      <ion-label>
        Forgot Password?
      </ion-label>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="logo">
    <ion-col>
    <img src="assets/imgs/logo.png">
    </ion-col>
  </ion-row>

  <form [formGroup]="applyForm" (ngsubmit)="sendEmail($event)"> 
    <ion-input
    formControlName="email"
    id="email"
    mode="md"
    fill="outline"
    placeholder="Email address"
    type="email">
    </ion-input>

    <ion-row>
      <ion-col class="ion-text-end">
        <p [routerLink]="['/login']">Already have an account?</p>
      </ion-col>
    </ion-row>
  
    <ion-button type="submit" [routerLink]="['/forgot-password']" class="send-email" size="large" expand="block">Send email </ion-button>
  </form>
 

   
  <ion-row class="sign-up">
    <ion-col>
      <ion-text>
        Don't have an account? <span [routerLink]="['/sign-up']">Sign Up</span>
      </ion-text>
    </ion-col>
  </ion-row>


</ion-content>
