<ion-header>
  <ion-toolbar>
    <div class="logo">
      <img src="assets/imgs/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="settings-heading">Settings</h1>
  <ion-list class="account-list">
    <ion-item class="list-header">Account</ion-item>
    <!-- Previously used button -->
    <!-- <ion-item lines="none" [button]="true" [routerLink]="['profile']">Profile</ion-item> -->
    <ion-item lines="none" [button]="true" [routerLink]="['profile']">Profile</ion-item>


    <!-- <ion-item lines="none" [button]="true">Change password</ion-item> -->
    <!-- <ion-item lines="none" [button]="true">Connected Accounts</ion-item> -->
  </ion-list>
  <!-- <ion-list class="notifications-list">
    <ion-item class="list-header">Notifications</ion-item>
    <ion-item lines="none" [button]="true">Popups</ion-item>
    <ion-item lines="none" [button]="true">App Notifications</ion-item>
  </ion-list> -->
  <!-- <ion-list class="more-list">
    <ion-item class="list-header">More</ion-item>
    <ion-item lines="none" [button]="true">Language</ion-item>
    <ion-item lines="none" [button]="true">Country</ion-item>
  </ion-list> -->
  <ion-list class="your-nutritionist-list">
    <ion-item class="list-header">Your Nutritonist</ion-item>
    <ion-item lines="none" [button]="true" [routerLink]="['professional']">Contact details</ion-item>
    <!-- <ion-item lines="none" [button]="true">Location</ion-item> -->
    <!-- <ion-item lines="none" [button]="true">Social Media</ion-item> -->
    <!-- <ion-item lines="none" [button]="true" (click)="logoutAction()">Logout</ion-item> -->
  </ion-list>
  <ion-list class="privacy-and-account-list">
    <ion-item class="list-header">Privacy</ion-item>
    <ion-item lines="none" [button]="true" [routerLink]="['terms-and-conditions']">Terms & conditions</ion-item>
    <ion-item lines="none" [button]="true" [routerLink]="['privacy-policy']">Privacy policy</ion-item>
    <!-- <ion-item lines="none" [button]="true" (click)="logoutAction()">Logout</ion-item> -->
  </ion-list>
  
  <ion-button class="logout-button" (click)="logoutAction()">Logout</ion-button>
</ion-content>
