
ion-content {
    .settings-heading {
        font-size: 3rem;
         margin: 0;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .logout-button {
        --background: var(--ion-color-color1);
        --background-activated: #60b48b;
        // letter-spacing: 0;
        position: fixed;
        left: 0;
        bottom: 2.1rem;
        width: 84%;
        // height: 8%;
        text-align: center;
        // margin: 0 auto;
        margin-left: 2.6rem;
        font-size: 1.6rem;
        //
        --border-radius: 10px;
        letter-spacing: 0;
        font-size: 1.7rem;
        // --background: var(--ion-color-green);
        // --background-hov
        // --background-activated: #60b48b;
        text-transform: none;
    }
ion-list {
    margin-bottom: 1.4rem;
    .list-header {
        font-size: 1.5rem;
        font-weight: 600;
    }
    // padding: 0;
    // margin: 0;
    ion-item {
        --padding-start: 0;
        font-size: 1.5rem;
        // padding: 0;
        // margin: 0;

    }
}
}