ion-header {
  ion-toolbar {
    ion-buttons {
      ion-back-button {
        position: absolute;
        --color: white;
        --icon-margin-start: 8px;
        --icon-font-size: 40px;
      }
      // Hide back button text
      ion-back-button::part(text) {
        position: absolute;
        left: -9999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }
}

.terms-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 20px;
}

ion-card-title {
  color: black;
}

.terms-content {
  h2 {
    margin-top: 1.8rem;
    color: #006400;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  p, ul {
    margin: 10px 0;
    color: #333;
    line-height: 1.5;
    font-size: 1.3rem;
  }
  
  ul {
    padding-left: 20px;
    
    li {
      margin-bottom: 10px;
    }
  }
}
