/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";

* {
    font-family: Inter;
}
:root {
--ion-color-color1: #98B66E; //changes the color for header, tabs, login button, logout button, meal plan selected (check button), password hide
--ion-color-color2: #C5E5A5; //changes the color for option heading, recipe heading
--ion-color-color3: #F9D876; //changes the color for date-time (on meal plan page)
--ion-color-color4: #006400; //changes the text color on profile, contact details(aka professional), privacy policy, terms & conds.
// --ion-color-green: #98B66E;
}

/* For responsiveness across screens
used from this source: 
https://dev.to/nwamugo/make-your-ionic-apps-100-responsive-p40
by setting this up, we can use rem,em,%,vh units in app to change dynamically

*/
html {
    font-size: 100%;
    @media (max-width: 289px) {
        font-size: 45%;
    }
    @media (min-width: 290px) {
        font-size: 50%;
    }
    @media (min-width: 300px) {
        font-size: 52.5%;
    }
    @media (min-width: 320px) {
        font-size: 55.5%;
    }
    @media (min-width: 325px) {
        font-size: 56.5%;
    }
    @media (min-width: 326px) {
        font-size: 57%;
    }
    @media (min-width: 330px) {
        font-size: 59%;
    }
    @media (min-width: 360px) {
        font-size: 62.5%;
    }
    @media (min-width: 411px) {
        font-size: 70%;
    }
    @media (min-width: 500px) {
        font-size: 85%;
    }
    @media (min-width: 720px) {
        font-size: 100%;
    }
    @media (min-width: 1000px) {
        font-size: 110%;
    }
  }
  html.ios {
    @media (max-width: 359px) and (min-width: 320px) {
        font-size: 59%;
    }
  }
ion-content {
    // color: var(--ion-text-color); // Text color will change based on mode
    // background-color: var(--ion-background-color); // Background color will change based on mode
    --padding-top: 3rem;
    --padding-bottom: 1rem;
    --padding-start: 3rem;
    --padding-end: 3rem;
}
// p, ion-text, h1, h2, h3, h4, h5, h6 {
//     // color: var(--ion-text-color);
//   }

.custom-select-options .select-interface-option .alert-radio-label {
    // color: red; // Example: changing the text color to red
    font-size: 16px; // Example: setting font size
}

/* Customizing Alert buttons and title */
.custom-select-options .alert-button {
    font-size: 16px; /* Change the font size of the buttons */
    height: 45px; /* Change the height of the buttons */
}
.custom-select-options .alert-title {
    font-size: 16px; /* Change the font size of the title */
    font-weight: 600;
}



  
  

ion-header {
    ion-toolbar {
        // --background: #45b683;
        --background: var(--ion-color-color1);
        //--background: #98B66E;

        --padding-top: 10px;
        --padding-bottom: 10px;
        ion-title {

        }
        ion-icon {
            font-size: 40px;
            color: rgb(255, 255, 255);
        }
        .logo {
            margin: 0 auto;
            background-color: rgb(219, 243, 219);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 60px;

            img {
                height: 40px;
            }

        }
    }
}
