ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #98B66E;
  
    .toolbar-content {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .logo {
      // Adjust as necessary
    }
  
    ion-back-button {
      position: absolute;
      --color: white;
      --icon-margin-start: 4px;
      --icon-font-size: 40px;
    }
  }
  
  ion-content {
    .settings-heading {
      font-size: 3rem;
      margin: 0;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  
    .water-settings-list {
      // margin-bottom: 2rem;
  
      .list-header {
        font-size: 1.5rem;
        font-weight: 600;
      }
  
      ion-item {
        --padding-start: 0;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        ion-input,
        ion-select,
        ion-datetime {
          --padding-start: 10px;
          color: #333;
          background: #ffffff;
          border: 1px solid #dcdcdc;
          border-radius: 4px;
          padding: 5px 10px;
        }
  
        ion-toggle {
          margin-right: 10px;
        }
  
        ion-label {
          margin-left: 10px;
          font-size: 1.5rem;
          color: #333;
        }
      }
    }
  
    .save-button {
      --background: var(--ion-color-color1);
      --background-activated: #60b48b;
      // width: 90%;
      // height: 50px;
      letter-spacing: 0;
      font-size: 1.7rem;
      text-align: center;
      margin: 2rem 0;
      display: block;
      font-size: 1.6rem;
    }
  }
  