<ion-header>
  <ion-toolbar>
    <div class="logo">
      <img src="assets/imgs/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!mealPlans.length"></ion-spinner>
  <div class="meal-page-header">
    <div class="banner">
      <p class="meal-page-title">Meal Plan</p>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </div>
  </div>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
      id="datetime"
      color="success"
      presentation="date"
      [value]="currentDate"
      [min]="customerMealPlanDate"
      max="2028-02-08T00:00:00"></ion-datetime>
    </ng-template>
  </ion-modal>

  <swiper-container *ngIf="mealPlans.length" #swiper (click)="slideClick($event)" [modules]="swiperModule" [spaceBetween]="10" [slidesPerView]="1">
    <swiper-slide *ngFor="let meal of mealPlans[0]?.mealObjects; let i = index" [class.active]="i === currentSlideIndex">
      <p>{{meal.type}}</p>
    </swiper-slide>
  </swiper-container>

  <div class="row-container" *ngIf="mealPlans.length">
      <ion-list *ngFor="let option of mealPlans[0].mealObjects[currentSlideIndex]?.optionObjects; let i = index">

        <ion-item mode="ios" lines="none" class="list-header">
          <ion-label><h2>Option {{ i + 1 }}</h2></ion-label>
          <ion-checkbox aria-label="Label" slot="end"></ion-checkbox>

        </ion-item>

        <ion-item lines="none" *ngFor="let item of option.foodItemEntryObjects">
          <ion-label>
            <h2>{{ item?.foodItemObject?.name }}</h2>
            <p>{{ item?.foodItemObject?.description }}</p>
            </ion-label>
          <ion-avatar slot="start">
            <img src="assets/imgs/avocado-toast.jpg"/>
          </ion-avatar>
        </ion-item>

        <ion-item [button]="true" class="more-info-item" lines="none">
          <ion-label slot="start">
            <h2 class="more-info" >More info</h2>
          </ion-label>
          <ion-icon name="menu" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
  </div>

</ion-content>
