ion-header { 
    ion-toolbar {
        --background: #0fa469;
        --padding-top: 10px;
        --padding-bottom: 10px;
        ion-title {

        }
        ion-icon {
            font-size: 40px;
            color: rgb(255, 255, 255);
        }
        .logo {
            margin: 0 auto;
            background-color: rgb(219, 243, 219);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 60px;

            img {
                height: 40px;
            }

        }
    }
}

ion-content {
    
        --padding-top: 30px;
        --padding-bottom: 10px;
        --padding-start: 30px;
        --padding-end: 30px;

    .meal-page-header {
            margin-bottom: 20px;
        ion-list {
            border-bottom: 1px solid gray;
            margin-bottom: 30px;
            ion-item {
                padding: 0;
                    margin: 0 auto;
                    text-align: center;
                ion-select {
                    padding: 0;
                    margin: 0 auto;
                    ion-select-option {
                        padding: 0;
                    margin: 0;
                    }
                }
            }
        }
        ion-datetime-button::part(native) {
            background-color: #40b53e;
            color: white;
            // font-weight: 600;
            // padding-right: 35px;
        }
        
        
        ion-datetime {
            // background-color: red;
            // --background-rgb: 255, 241, 242;
            border-radius: 16px;
        
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // z-index: 1;
        }
        
        .banner {
            // margin-bottom: 40px;
            // background-color: blue;
            // padding: 0;
            // background-color: red;
            display: flex;
            // flex-direction: column;
            // align-items: start;
            // gap: 20px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 0;
            

        }
        .meal-page-title {
            font-size: 30px;
            // margin-bottom: 30px;
            font-weight: 600;
            // background-color: orange;
            padding: 0;
            margin: 0;
        }
        
    }
        swiper-container {
            margin-bottom: 30px;
            swiper-slide {
                border: 1px solid rgb(181, 181, 181);
                font-weight: 600;
                color: black;
                padding: 25px 10px;
                display: flex;
                align-items: center;
                justify-content:center;
                height: 40px;
                border-radius: 30px;
                p {
                    
                    small {
                        font-size: 11px;
                        margin-bottom: 5px;
                    }
                }
            }
            swiper-slide.active {
                color: green;
                border: 1px solid green;
                // font-weight: 600;
            }
        }

        .row-container {
            ion-list {
                margin-bottom: 20px;
                .list-header {
                    // --background: #44aa79;
                    --background: #1eae77;
                    color: white;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                    ion-item.more-info-item {
border-top: 1px solid rgb(223, 218, 218);                        
                        // box-shadow: inset 0 -1px 0 0 black;
                            // --padding-start: 0; /* Adjust start padding */
                            // --padding-end: 0; /* Adjust end padding */
                            // border-top: 1px solid rgb(185, 181, 181);
                            ion-label {
                                // margin-right: 50px;
                            }
                            ion-icon {
                                margin-left: 0;
                            }
                            
                          
                    }
                    ion-item {
                        p.notes {
                            font-size: 14px;
                        }
                        .more-info {
                            font-size: 14px;
                            // text-decoration: underline;
                        }
                        border-right: 1px solid #cbd5d0;
                        // border-bottom: 1px solid green;
                        border-left: 1px solid#cbd5d0;
                        // border-bottom: 1px solid green;
                        ion-checkbox {
                            --checkmark-color: rgb(37, 87, 29);
                            --checkbox-background-checked: #69d567;
                            --border-color: white;
                            --border-color-checked: white;
                          }
                          ion-checkbox::part(mark) {
                            display: none;
                          }
                          
                        .add-meal {
                            // color: #034226;
                            font-size: 30px;
                        }
                        ion-label {
                            .macros {
                                margin-top: 5px;
                                color: black;
                                font-size: 10px;
                                display: flex;
                                gap: 8px;
                                .protein {
                                    color: green;
                                }
                                .fats {
                                    color: red;
                                }
                                .carbs {
                                    color: orangered;
                                }
                            }
                        }
                        label {
                            font-size: 11px;
                            // margin-left: 40px;
                        }
                    }
                    .meal-footer {
                        font-size: 12px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                        border-bottom: 1px solid #cbd5d0;
                        ion-icon {
                            font-size: 25px;
                        }
                    }
                }
                .item-is-not-active {
                    display: none;
                }
                ion-item:last-of-type {
                    border-bottom: 1px solid #cbd5d0;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    --padding-bottom: 5px;
                }
            }
        
}