ion-header { 
    ion-toolbar {
        --background: #45b683;
        --padding-top: 15px;
        --padding-bottom: 15px;
        ion-title {

        }
        ion-icon {
            font-size: 40px;
            color: rgb(255, 255, 255);
        }
        .logo {
            margin: 0 auto;
            background-color: rgb(219, 243, 219);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 60px;

            img {
                height: 25px;
            }

        }
    }
}

ion-content {
    --padding-bottom: 15px;
    --padding-start: 35px;
    --padding-end: 35px;
    // ion-segment {

    .meal-page-header {
        // background-color: green;
        
        ion-datetime-button::part(native) {
            background-color: #40b53e;
            color: white;
            // font-weight: 600;
            // padding-right: 35px;
        }
        
        
        ion-datetime {
            // background-color: red;
            // --background-rgb: 255, 241, 242;
            border-radius: 16px;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // z-index: 1;
        }
        .banner {
            // margin-bottom: 40px;
            // background-color: blue;
            // padding: 0;
            // background-color: red;
            display: flex;
            // flex-direction: column;
            // align-items: start;
            // gap: 20px;
            align-items: center;
            justify-content: space-between;
            

        }
        .meal-page-title {
            font-size: 30px;
            // margin-bottom: 30px;
            font-weight: 600;
            // background-color: orange;
        }
        
    }
        swiper-container {
            margin-bottom: 30px;
            swiper-slide {
                border: 1px solid rgb(181, 181, 181);
                font-weight: 600;
                color: black;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content:center;
                height: 40px;
                border-radius: 20px;
                .meal-category {

                }
                .meal-time {

                }
            }
            swiper-slide.active {
                color: green;
                border: 1px solid green;
                font-weight: 600;
            }
        }

        .row-container {
            ion-list {
                margin-bottom: 20px;
                .list-header {
                    --background: #44aa79;
                    color: white;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                    ion-item {
                        border-right: 1px solid #cbd5d0;
                        // border-bottom: 1px solid green;
                        border-left: 1px solid#cbd5d0;
                        // border-bottom: 1px solid green;
                        .add-meal {
                            // color: #034226;
                            font-size: 30px;
                        }
                        ion-label {
                            .macros {
                                margin-top: 5px;
                                color: black;
                                font-size: 10px;
                                display: flex;
                                gap: 8px;
                                .protein {
                                    color: green;
                                }
                                .fats {
                                    color: red;
                                }
                                .carbs {
                                    color: orangered;
                                }
                            }
                        }
                        label {
                            font-size: 11px;
                            // margin-left: 40px;
                        }
                    }
                    .meal-footer {
                        font-size: 12px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                        border-bottom: 1px solid #cbd5d0;
                        ion-icon {
                            font-size: 25px;
                        }
                    }
                }
                .item-is-not-active {
                    display: none;
                }
                ion-item:last-of-type {
                    border-bottom: 1px solid #cbd5d0;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    --padding-bottom: 5px;
                }
            }
        
}