<ion-header>
  <ion-toolbar>
    <div class="logo" (click)="goToDashboard()">
      <img src="assets/imgs/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!loaded" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!loaded">
    <ion-list-header>
      <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="loaded">
    <div class="meal-page-header">
      <div class="banner">
        <p class="meal-page-title">Meal Plan</p>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>
    </div>

    <ion-modal style="--background: transparent;"[keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
        style=" --background: #e1f9e1;
        --background-rgb: 255, 241, 242;
        border-radius: 16px;"
          id="datetime"
          color="success"
          presentation="date"
          [value]="currentDate"
          [min]="customerMealPlanDate"
          max="2028-02-08T00:00:00"
          (ionChange)="onDateChange($event)"
          ></ion-datetime>
      </ng-template>
    </ion-modal>

    <div class="selection-box-description">
      <p>Select a meal plan from the selection box below.</p>
    </div>

    <div *ngIf="selectedMealPlan">
      <ion-select [interfaceOptions]="customSelectOptions" (ionChange)="handleSelectChange($event)" label-placement="floating" fill="outline" mode="md" value="{{ selectedMealPlan.id }}" aria-label="Meal Plan Options" label="Meal plan options">
        <ion-select-option *ngFor="let mealPlan of mealPlans" value="{{ mealPlan.id }}">{{mealPlan.title}}</ion-select-option>
      </ion-select>
      
      <br>

      <swiper-container *ngIf="selectedMealPlan" #swiper (click)="slideClick($event)" [modules]="swiperModule" [spaceBetween]="10" [slidesPerView]="slidesPerView" [observer]="true" [observeParents]="true">
        <swiper-slide *ngFor="let meal of selectedMealPlan?.meals; let i = index; trackBy:trackItems" [class.active]="i === currentSlideIndex">
          <p>
            {{ meal.type.name }}
            <br>
            <small>{{ meal.time }}</small>
          </p>
        </swiper-slide>
      </swiper-container>

      <div class="row-container" *ngIf="selectedMealPlan">
        <ion-list *ngFor="let option of selectedMealPlan.meals[currentSlideIndex]?.options; let i = index; trackBy:trackItems">

          <ion-item mode="ios" lines="none" class="list-header">
            <ion-label>
              <h2>Option {{ i + 1 }}</h2>
            </ion-label>
            <ion-checkbox (ionChange)="onCheckboxChange($event, option, selectedMealPlan.meals[currentSlideIndex])"
                          [disabled]="lockOptions"
                          [(ngModel)]="option.isChecked"
                          multiple="false"
                          aria-label="Label" slot="end">
            </ion-checkbox>
          </ion-item>

          <ion-item lines="none" *ngFor="let itemEntry of option.foodItemEntries; trackBy:trackItems">
            <ion-label>
              <h2>{{ itemEntry?.foodItem?.name }}</h2>
              <p>{{itemEntry?.quantity}} {{ itemEntry?.measurement?.name }}</p>
              </ion-label>
          </ion-item>

          <ion-item lines="none" *ngIf="option.description">

              <ion-label class="break-line">
                <h2>
                  {{ option.description }}
                </h2>
              </ion-label>
          </ion-item>

          <ion-item *ngIf="option.notes" [button]="true" class="more-info-item" lines="none" (click)="toggleMoreInfoShowing(option.id.toString())">
            <ion-label slot="start">
              <h2 class="more-info" style="font-size: 14px; font-weight: 600;">Notes</h2>
            </ion-label>
          </ion-item>
          <ion-item class="notes" *ngIf="moreInfoShowing[option.id.toString()]" lines="none">
            <p>{{option.notes}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngIf="!selectedMealPlan">
      <div class="no-meal-plans">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <h2>You do not have any meal plans for the current date!</h2>
        <div>
          <p>To see your meal plans assigned to a different date, use the date selector above.</p>
          <p>If you have any issues, contact your nutritionist. </p>
        </div>
        <!-- <p>Otherwise, if you have any issues, contact your nutritionist.</p> -->
      </div>
    </div>
  </div>
</ion-content>