<ion-content>

  <ion-toast
  class="error-toast"
  isOpen="{{showErrorToast}}"
  message="{{errorToastText}}"
  duration="2000"
  position="top"
  (ionToastDidDismiss)="showErrorToast = false">
  </ion-toast>
  
  <ion-toast
  class="success-toast"
  isOpen="{{showSuccessToast}}"
  message="{{successToastText}}"
  duration="2000"
  position="top"
  (ionToastDidDismiss)="showSuccessToast = false">
  </ion-toast>
  
  <ion-toast
  class="password-toast"
  isOpen="{{showPasswordToast}}"
  message="{{passwordToastText}}"
  duration="11000"
  position="top"
  (ionToastDidDismiss)="showPasswordToast = false">
  </ion-toast>
  
  <img class="graphic" src="/assets/imgs/page-graphic.png"/>
  <ion-row class="login-title">
    <ion-col>
      <ion-label>
        Sign Up
      </ion-label>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row class="logo">
    <ion-col>
      <img src="assets/imgs/logo.png">
    </ion-col>
  </ion-row>

  
  <form [formGroup]="signupForm" (ngSubmit)="signUp($event)" novalidate>

    <h1>Personal Details</h1>
    <ion-input
      formControlName="firstName"
      id="firstName"
      mode="md"
      label="First Name"
      label-placement="floating"
      name="firstName"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="lastName"
      id="lastName"
      mode="md"
      name="lastName"
      label="Last Name"
      label-placement="floating"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-item class="dob" lines="none">
      <ion-label>Date of Birth</ion-label>
      <ion-datetime-button datetime="dob"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
          id="dob"
          presentation="date"
          (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-input
      formControlName="phoneNumber"
      id="phoneNumber"
      mode="md"
      name="phoneNumber"
      label="Phone Number"
      label-placement="floating"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="email"
      id="email"
      mode="md"
      name="email"
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder="Email address"
      type="email"
    ></ion-input>
    <ion-input
      formControlName="occupation"
      id="occupation"
      mode="md"
      label="Occupation"
      label-placement="floating"
      name="occupation"
      fill="outline"
      type="text"
    ></ion-input>

    <h1>Address</h1>
    <ion-input
      formControlName="addressLineOne"
      id="addressLineOne"
      mode="md"
      label="Address Line One"
      label-placement="floating"
      name="addressLineOne"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="addressLineTwo"
      id="addressLineTwo"
      mode="md"
      label="Address Line Two"
      label-placement="floating"
      name="addressLineTwo"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="addressCity"
      id="addressCity"
      mode="md"
      label="City"
      label-placement="floating"
      name="addressCity"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="addressZipCode"
      id="addressZipCode"
      mode="md"
      label="Zip Code"
      label-placement="floating"
      name="addressZipCode"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="addressState"
      id="addressState"
      mode="md"
      label="State"
      label-placement="floating"
      name="addressState"
      fill="outline"
      type="text"
    ></ion-input>
    <ion-input
      formControlName="addressCountry"
      id="addressCountry"
      mode="md"
      label="Country"
      label-placement="floating"
      name="addressCountry"
      fill="outline"
      type="text"
    ></ion-input>
    <h1>Weight and Height</h1>
    <ion-input
      formControlName="height"
      label-placement="floating"
      id="height"
      mode="md"
      label="Height"
      name="height"
      fill="outline"
    >
      <ion-label slot="end">cm</ion-label>
    </ion-input>
    <ion-input
      formControlName="weight"
      label-placement="floating"
      id="weight"
      mode="md"
      label="Weight"
      name="weight"
      fill="outline"
      type="text"
    >
      <ion-label slot="end">kg</ion-label>
    </ion-input>
    <ion-input
      formControlName="goalWeight"
      label-placement="floating"
      id="goalWeight"
      mode="md"
      label="Goal Weight"
      name="goalWeight"
      fill="outline"
      type="text"
    >
      <ion-label slot="end">kg</ion-label>
    </ion-input>
    <h1>Goals and Preferences</h1>
    <ion-list class="diet">
      <ion-item lines="none" class="diet-item">
        <ion-select class="diet-select" aria-label="diet" placeholder="Dietary preference">
          <ion-select-option value="omnivore">Omnivore</ion-select-option>
          <ion-select-option value="pescatarian">Pescatarian</ion-select-option>
          <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
          <ion-select-option value="vegan">Vegan</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="goals">
      <ion-item lines="none" class="goals-item">
        <ion-select aria-label="goals" placeholder="Goals">
          <ion-select-option value="lose-weight">Lose weight</ion-select-option>
          <ion-select-option value="gain-weight">Gain weight</ion-select-option>
          <ion-select-option value="energy-and-vitality">Energy and vitality</ion-select-option>
          <ion-select-option value="eat-healthier">Eat healthier</ion-select-option>
          <ion-select-option value="pregnancy">Pregnancy</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <h1>Additional information</h1>
    <ion-textarea
    class="reason-for-seeking-professional"
    formControlName="reasonSeekProfessional"
    id="reasonSeekProfessional"
    mode="md"
    name="reasonSeekProfessional"
    label="Reason for seeking a professional" 
    labelPlacement="floating" 
    fill="outline">
  </ion-textarea>
    <!-- <ion-textarea
      formControlName="currExerciseRoutine"
      id="currExerciseRoutine"
      mode="md"
      name="currExerciseRoutine"
      label="What is your current exercise routine?"
      label-placement="floating"
    ></ion-textarea> -->
    <ion-textarea
    formControlName="currExerciseRoutine"
    id="currExerciseRoutine"
    mode="md"
    name="currExerciseRoutine"    
    label="What is your current exercise routine?" 
    labelPlacement="floating" 
    fill="outline">
    </ion-textarea>
    <!-- <ion-textarea
      formControlName="medicalInfo"
      id="medicalInfo"
      mode="md"
      name="medicalInfo"
      label="Medical Info"
      label-placement="floating"
    ></ion-textarea> -->
    <ion-textarea
    formControlName="medicalInfo"
    id="medicalInfo"
    mode="md"
    name="medicalInfo"
    label="Medical Info"
    label-placement="floating"
    fill="outline">
    </ion-textarea>
    <!-- PASSWORD -->
    <h1>Create password</h1>
    <ion-input
      formControlName="password"
      id="password"
      mode="md"
      fill="outline"
      placeholder="Password"
      type="password"
      [type]="passIsVisible ? 'text' : 'password'"
    >
      <ion-button (click)="changeEyeIcon()" fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="{{currentIconName}}"></ion-icon>
      </ion-button>
    </ion-input>
    <ion-input
      formControlName="confirmPassword"
      id="confirmPassword"
      mode="md"
      fill="outline"
      placeholder="Confirm Password"
      type="password"
    ></ion-input>
    <!-- END PASSWORD -->

    <ion-button type="submit" class="sign-up" size="large" expand="block">Sign Up</ion-button>
  </form>
   
  <ion-row class="log-in">
    <ion-col>
      <ion-text>Already have an account? <span [routerLink]="['/login']">Log in</span></ion-text>
    </ion-col>
  </ion-row>

</ion-content>
