.graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ion-toast.error-toast, ion-toast.password-toast {
    --background: rgb(253, 181, 181);
    color:  rgb(179, 23, 23);
}

ion-toast.success-toast {
    --background: rgb(127, 216, 127);
    color:  rgb(18, 80, 18);
}


ion-content {

}


ion-row.login-title {
    margin-top: 6vh;
    ion-col {
        display: flex;
        align-items: center;
        gap: 10px;
        ion-label {
            font-size: 2rem;
            font-weight: 700;
            p {
                margin-top: 1rem;
            }
        }
        ion-icon {
            font-size: 2rem;
        }
    }
}

ion-row.logo {
    margin-top: 3rem;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 13rem;
            margin-bottom: 3rem;
            
        }
    }
    
}

h1 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.form-section {
    margin-bottom: 4rem;
}

ion-input {
    font-size: 1.5rem;
    // color: #757171;
}

ion-textarea {
    font-size: 1.3rem;

}

.dob {
    margin-bottom: 1rem;
    // border: 1px solid rgb(148, 147, 147);
    // border-radius: 10px;
}

ion-list.diet {
    margin-bottom: 1rem;
}

.diet-select {
    // border: 1px solid lightgray;
}

.diet-item {
    border: 1px solid rgb(143, 143, 143);
    border-radius: 10px;
    padding: 4px;
}

ion-list.goals {
    margin-bottom: 1rem;

}

.goals-item {
    border: 1px solid rgb(143, 143, 143);
    border-radius: 10px;
    padding: 4px;


}

ion-textarea {
    margin-bottom: 1rem;
}

form {
        ion-input {
            margin-bottom: 10px;
            --padding-start: 20px;
            --border-radius: 10px;
            ion-button {
                ion-icon {
                color:  #44aa79;
                }
            }
        }

    ion-text {
        padding-right: 40px;
        text-align: right;
        font-weight: 600;
        font-size: 0.8rem;
    }
    ion-button.sign-up {
        margin-top: 30px;
        color: white;
        --border-radius: 10px;
        letter-spacing: 0;
        font-size: 1.3rem;
        --background: #44aa79;
        --background-activated: #60b48b;
        text-transform: none;
    }
}

ion-row.log-in {
    margin-top: 2rem;
    margin-bottom: 6rem;
    ion-col {
        text-align: center;
        ion-text {
            color: #757171;
            font-size: 1.2rem;
            font-weight: 600;
            span {
                margin-left: 0.1rem;
                color: black;
            }
        }
    }
}

// ion-row.login-description {
//     margin-top: 2rem;
//     ion-col {
//         text-align: center;
//         ion-text {
//             color: #757171;
//             font-size: 1.2rem;
//             font-weight: 600;
//             span {
//                 color: black;
//             }
//         }
//     }
// }

