// ion-content {


//     // *welcome customer top box**
//     .welcome-customer-div { 
//       // display: flex;
//       display: grid;
//       grid-template-columns: 1fr 2fr;
//       column-gap: 2rem;
//       // justify-content: center;
//       align-items: center;
//       padding: 0;


//       .profile-image {
//         width: 100px;
//         height: 100px;
//         border-radius: 100px;
//         // object-fit: cover;
//         // margin-bottom: 15px;
//       }

//       .name-and-message {
//         // margin-left: 2rem;
//         p {
//           // padding: 0;
//           margin: 1rem 0 0 0;
//           font-size: 1.3rem;
//           // width: 100%;
//         }
//       }
//         margin-bottom: 2rem;
//         h1 {
//             font-weight: 600;
//             font-size: 2.3rem;
//             margin: 0;
//         }
//         p {
//           // text-align: center;
//           font-size: 1.4em;
//         //   margin: 1rem 0 0 0;
//         }
//     }

//     div.dashboard-grid-container {
//         border-radius: 20px;
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         row-gap: 1rem;
//         column-gap: 1rem;
//         .card {
//             // border: 1px solid var(--ion-text-color);
//             padding: 2rem;
//             border-radius: 20px;
//             box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
//             display: flex;
//             flex-direction: column;
           
//         }
//         .card:active {
//             //Green border click
//             // color: green;
//             // border: 1px solid green;

//             //Grey border click**
//             // color: rgba(125, 125, 125, 0.445);
//             // border: 1px solid var(--ion-text-color);
//         }
//         .meal-plan-card {
//           background: linear-gradient(135deg, #D8EAAB, #95d387);
//           // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
//           // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
//           p {
//               margin: 0;
//           }
//           display: flex;
//           flex-direction: column;
//           gap: 10px;
//           text-align: center;
//           font-size: 1.7rem;
//           ion-icon {
//               margin: 0 auto;        
//               font-size: 2em;
//           }
//         }

//         .water-intake-card {
//           margin-top: 2rem;
//           margin-bottom: 2rem;
//             background: linear-gradient(135deg, #AECBEB, #83B0E1);
//             grid-column: 1/3;
//             position: relative; // Make sure the card has a relative position for absolute positioning of the icon
          
//             .card-title {
//               display: flex;
//               justify-content: space-between;
//               align-items: center;
//               padding-right: 0 10px 0 0; // Add some padding to the right for spacing
          
//               .settings-icon {
//                 pointer-events: auto; // Ensure the settings icon is clickable
//                 font-size: 24px;
//                 cursor: pointer; // Change cursor to pointer on hover
//               }
//             }
        
//             .water-consumed {
            
              
//                 font-size: 1.4em;
//                 color: #333;
//                 margin: 0;
//                 margin-bottom: 1rem;
//                 margin-left: 0.5rem;
//                 font-weight: 700;
//                 // display: flex;
//                 // justify-content: space-between;
//                 // align-items: center;
            
          
//             }

//             .water-tracker {
//               pointer-events: auto;
//               margin-top: 5px;
          
//                 ion-input {
//                   width: 50%;
//                   margin: 5px 0;
//                   --padding-end: 10px;
//                 }
              
//             }
//           }
          
//           .progress-bar {
//             background: #e0e0e0;
//             border-radius: 5px;
//             overflow: hidden;
//             height: 15px;
//             margin-top: 5px;
          
//             .progress {
//               background: #71A5DE;
//               height: 100%;
//               width: 0;
//               transition: width 0.3s;
//             }
          
//             .icon-buttons {
//               display: flex;
//               justify-content: space-around;
//               margin-top: 10px;
          
//               ion-icon {
//                 font-size: 40px;
          
//                 &[color="danger"] {
//                   color: #e74d3c69;
//                 }
//               }
//             }
                    
    
//           }
          
//           .progress-bar {
//             background: #e0e0e0;
//             border-radius: 5px;
//             overflow: hidden;
//             height: 15px;
//             margin-top: 5px;
    
//             .progress {
//               background: #71A5DE;
//               height: 100%;
//               width: 0;
//               transition: width 0.3s;
//             }

//             .icon-buttons {
//                 display: flex;
//                 justify-content: space-around;
//                 margin-top: 10px;
        
//                 ion-icon {
//                   font-size: 40px;
        
//                   &[color="danger"] {
//                     color: #e74d3c69;
//                   }
//                 }
//             }
//           }

//           .icon-buttons {
//             display: flex;
//             justify-content: space-around;
//             margin-top: 10px;
    
//             ion-icon {
//               font-size: 40px;
//               cursor: pointer;
    
//               &[color="danger"] {
//                 color: #e74d3c69;
//               }
//             }
//         }

//         .recipes-card {
//           background: linear-gradient(135deg, #D8EAAB, #95d387);
//           // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
//           // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
//           p {
//               margin: 0;
//           }
//           display: flex;
//           flex-direction: column;
//           gap: 10px;
//           text-align: center;
//           font-size: 1.7rem;
//           ion-icon {
//               margin: 0 auto;        
//               font-size: 2em;
//           }

//         }
//         .nutritionist-details-card {
//             background: linear-gradient(135deg, #D8EAAB, #95d387);
//             // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
//             // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
//             p {
//                 margin: 0;
//             }
//             display: flex;
//             flex-direction: column;
//             gap: 10px;
//             text-align: center;
//             font-size: 1.7rem;
//             ion-icon {
//                 margin: 0 auto;        
//                 font-size: 2em;
//             }

//         }
//         .account-details-card {
//           background: linear-gradient(135deg, #D8EAAB, #95d387);
//           // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
//           // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
//           p {
//               margin: 0;
//           }
//           display: flex;
//           flex-direction: column;
//           gap: 10px;
//           text-align: center;
//           font-size: 1.7rem;
//           ion-icon {
//               margin: 0 auto;        
//               font-size: 2em;
//           }
//         }

//         h3.card-title {
//             margin: 0;
//             // font-weight: 700;
//             font-size: 20px;
//             margin-bottom: 5px;
//         }
//         p.card-description {
//             margin: 0;
//             font-size: 17px;
//         }
//         ion-icon {
           
//         }
//     }
// }

ion-content {
  .hydration-tips {
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.2rem;
  }
  .quick-links, .water-outter-title {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }


  .water-outter-title {
    margin-bottom: 1rem;
  }
  .welcome-customer-div {
    margin-bottom: 3rem;
     display: grid;
     grid-template-columns: 1fr 2fr;
     column-gap: 1rem;
     align-items: center;
     justify-content: center;
     padding: 0;
 
    .profile-image {
      width: fit-content;
      height: fit-content;
      padding: 0;
      margin: 0;
      height: 100px;
       width: 100px;
       border-radius: 100px;
     }
 
    .name-and-message {
 
       h1 {
        //  font-weight: 600;
        //  font-size: 2.3rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
       }
 
       p {
        color: #464646;

        margin-top: 1rem;
         font-size: 1.4rem;
         width: 93%;
       }
     }
   }
 
  .dashboard-grid-container {
    margin-bottom: 2rem;
    .card-title {
      margin: 0;
      font-size: 1.8rem;
      margin-bottom: 5px;
    }

    .card-description {
      margin: 0;
      font-size: 1.5rem;
      width: 90%;
    }

     border-radius: 20px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     row-gap: 1rem;
     column-gap: 1rem;
 
    .small-card {
    //   background: linear-gradient(135deg, #D8EAAB, #95D387);
    //   display: flex;
    //   flex-direction: column;
    //   gap: 10px;
    //  //  text-align: center;
    //   font-size: 1.7rem;
    //   padding: 2rem;
    //   border-radius: 20px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
    ion-icon {
      font-size: 2.6rem;
    }
    h1 {
      font-size: 1.8rem;

      font-weight: 600;
    }
    }

    .card {

       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      //  display: flex;
      //  flex-direction: column;
      // background: linear-gradient(135deg, rgb(156, 226, 156), var(--ion-color-color2));
      background-color: var(--ion-color-color2);
      // background: linear-gradient(135deg, #, #6ec57c);
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1.7rem;
      padding: 2rem;
      border-radius: 20px;
      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          margin: 0;
          font-weight: 600;
        }
  
        ion-icon {
          // margin: 0 auto;
          
          font-size: 2.6rem;
        }

      }
     }
 

    .card:active {
       // Uncomment and adjust as needed
       // color: rgba(125, 125, 125, 0.445);
       // border: 1px solid var(--ion-text-color);
      //  width: 95%;
      //  height: 95%;
      background-color: rgb(167, 223, 167);
      // background-color: var(--ion-color-color1);
      //  transition: height 0.3s ease-out;

     }


     .meal-plan-card {
      // border-top-left-radius: 20px;
      // border-top-right-radius: 20px;
      grid-column: 1/-1;
     }

     .recipes-card {
      grid-column: 1/-1;
     }


    .water-intake-card {
      padding: 2rem 2rem 1rem 2rem;   
      border-radius: 20px;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

       margin-bottom:1rem;
       background: #aacbee;
       grid-column: 1/3;
       position: relative;
 
      .card-title {
         display: flex;
         justify-content: space-between;
         align-items: center;
        //  padding-right: 0 10px 0 0;
        font-weight: 600;
 
        .settings-icon {
          padding: 0;
          margin: 0;
           pointer-events: auto;
           font-size: 2.6rem;
           cursor: pointer;
         }
        }
        .water-consumed {
          margin: 0;
          margin-bottom: 2rem;
          // margin-left: 1rem;
         font-size: 1.2rem;
         color: #333;
        //  margin-left: 3rem;
         padding: 0;
        //  margin: 0;
        //  margin-bottom: 0rem 0 5rem 0;
        //  margin-left: 0.5rem;
         font-weight: 700;
       }
 
  
 
      .water-tracker {
         pointer-events: auto;
         margin-top: 5px;
 
         ion-input {
           width: 50%;
           margin: 5px 0;
           --padding-end: 10px;
         }
       }
 
      .progress-bar {
         background: #e0e0e0;
         border-radius: 5px;
         overflow: hidden;
         height: 2rem;
         margin-top: 5px;
 
        .progress {
           background: #71A5DE;
           height: 100%;
           width: 0;
           transition: width 0.3s;
         }
         margin-bottom: 2rem;
       }


       .icon-buttons {
         display: flex;
         justify-content: space-between;
         margin-top: 10px;

         ion-icon {
           font-size: 3.5rem;

           &[color="danger"] {
             color: #e74d3c69;
           }
         }
       }
     }
   }
 }
 