ion-content {


    // *welcome customer top box**
    .welcome-customer-div { 
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
      // justify-content: center;
      align-items: center;
      padding: 0;


      .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        // object-fit: cover;
        // margin-bottom: 15px;
      }

      .name-and-message {
        // margin-left: 2rem;
        p {
          // padding: 0;
          margin: 1rem 0 0 0;
          font-size: 1.3rem;
          // width: 100%;
        }
      }
        margin-bottom: 2rem;
        h1 {
            font-weight: 600;
            font-size: 2.3rem;
            margin: 0;
        }
        p {
          // text-align: center;
          font-size: 1.4em;
        //   margin: 1rem 0 0 0;
        }
    }

    div.dashboard-grid-container {
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        .card {
            // border: 1px solid var(--ion-text-color);
            padding: 2rem;
            border-radius: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
           
        }
        .card:active {
            //Green border click
            // color: green;
            // border: 1px solid green;

            //Grey border click**
            // color: rgba(125, 125, 125, 0.445);
            // border: 1px solid var(--ion-text-color);
        }
        .meal-plan-card {
          background: linear-gradient(135deg, #D8EAAB, #95d387);
          // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
          // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
          p {
              margin: 0;
          }
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: center;
          font-size: 1.7rem;
          ion-icon {
              margin: 0 auto;        
              font-size: 2em;
          }
        }

        .water-intake-card {
          margin-top: 2rem;
          margin-bottom: 2rem;
            background: linear-gradient(135deg, #AECBEB, #83B0E1);
            grid-column: 1/3;
            position: relative; // Make sure the card has a relative position for absolute positioning of the icon
          
            .card-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 0 10px 0 0; // Add some padding to the right for spacing
          
              .settings-icon {
                pointer-events: auto; // Ensure the settings icon is clickable
                font-size: 24px;
                cursor: pointer; // Change cursor to pointer on hover
              }
            }
        
            .water-consumed {
            
              
                font-size: 1.4em;
                color: #333;
                margin: 0;
                margin-bottom: 1rem;
                margin-left: 0.5rem;
                font-weight: 700;
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
            
          
            }

            .water-tracker {
              pointer-events: auto;
              margin-top: 5px;
          
                ion-input {
                  width: 50%;
                  margin: 5px 0;
                  --padding-end: 10px;
                }
              
            }
          }
          
          .progress-bar {
            background: #e0e0e0;
            border-radius: 5px;
            overflow: hidden;
            height: 15px;
            margin-top: 5px;
          
            .progress {
              background: #71A5DE;
              height: 100%;
              width: 0;
              transition: width 0.3s;
            }
          
            .icon-buttons {
              display: flex;
              justify-content: space-around;
              margin-top: 10px;
          
              ion-icon {
                font-size: 40px;
          
                &[color="danger"] {
                  color: #e74d3c69;
                }
              }
            }
                    
    
          }
          
          .progress-bar {
            background: #e0e0e0;
            border-radius: 5px;
            overflow: hidden;
            height: 15px;
            margin-top: 5px;
    
            .progress {
              background: #71A5DE;
              height: 100%;
              width: 0;
              transition: width 0.3s;
            }

            .icon-buttons {
                display: flex;
                justify-content: space-around;
                margin-top: 10px;
        
                ion-icon {
                  font-size: 40px;
        
                  &[color="danger"] {
                    color: #e74d3c69;
                  }
                }
            }
          }

          .icon-buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
    
            ion-icon {
              font-size: 40px;
              cursor: pointer;
    
              &[color="danger"] {
                color: #e74d3c69;
              }
            }
        }

        .recipes-card {
          background: linear-gradient(135deg, #D8EAAB, #95d387);
          // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
          // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
          p {
              margin: 0;
          }
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: center;
          font-size: 1.7rem;
          ion-icon {
              margin: 0 auto;        
              font-size: 2em;
          }

        }
        .nutritionist-details-card {
            background: linear-gradient(135deg, #D8EAAB, #95d387);
            // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
            // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
            p {
                margin: 0;
            }
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            font-size: 1.7rem;
            ion-icon {
                margin: 0 auto;        
                font-size: 2em;
            }

        }
        .account-details-card {
          background: linear-gradient(135deg, #D8EAAB, #95d387);
          // background: linear-gradient(135deg, #b8fcd7, rgba(15,164,105,1));
          // background: linear-gradient(135deg, rgba(15,164,105,1), #b8fcd7);
          p {
              margin: 0;
          }
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: center;
          font-size: 1.7rem;
          ion-icon {
              margin: 0 auto;        
              font-size: 2em;
          }
        }

        h3.card-title {
            margin: 0;
            // font-weight: 700;
            font-size: 20px;
            margin-bottom: 5px;
        }
        p.card-description {
            margin: 0;
            font-size: 17px;
        }
        ion-icon {
           
        }
    }
}
