<ion-header>
<ion-toolbar>
  <ion-title>Dashboard</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Hello {{ customer?.firstName }}</h1>
  @if (userHasCompletedIntakeForm) {
    @if (userHasMealPlans) {
      <p>Look at these cool af meal plans!</p>
    } @else {
      <p>Your intake form has been submitted. <br><br> Camila is currently implementing your meal plan! Once complete, it will appear here.</p>
    }
  } @else {
    <p>pretend this is an intake form</p>
  }
</ion-content>
