<ion-header>
  <ion-toolbar>
    <div class="logo">
      <img src="assets/imgs/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-customer-div">
    <h1>Hey, {{ customer.user.firstName}}!</h1>
    <p>Welcome back to your personalised meal plan app!</p>
  </div>

  <div class="dashboard-grid-container">
    <div class="card water-intake-card">
      <h3 class="card-title">Water Intake</h3>
      <ion-icon class="card-ion" name="water-outline"></ion-icon>
      <p class="card-description">Track your daily water intake</p>
      <div class="water-tracker">
        <p>Goal: 8 glasses</p>
        <div class="progress-bar">
          <div class="progress"></div>
        </div>
      </div>
    </div>


    <div class="card meal-plan-card" (click)="navigateToMealsPage()">
        <h3 class="card-title">Meal Plans</h3>
      <p class="card-description">Select and save the meals you eat while following your meal plan</p>
    </div>

    <div class="card recipes-card" (click)="navigateToRecipesPage()">
        <h3 class="card-title">Recipes</h3>
      <p class="card-description">Browse recipes for the meals in your meal plan</p>
    </div>

    <div class="card account-details-card" (click)="navigateToProfilePage()">
        <ion-icon class="card-ion" name="person-circle-outline">></ion-icon>
        <p class="card-description">Account</p>
    </div>

    <div class="card nutritionist-details-card" (click)="navigateToProfessionalPage()">
        <ion-icon class="card-ion" name="happy-outline"></ion-icon>
       <p class="card-description">Nutritionist</p> 
    </div>
    
  </div>

  <!-- <div class="swiper-div">
    <h2 style="font-size: 20px; margin-top: 0;">Quick links</h2>
    <swiper-container #swiper [modules]="swiperModule" [slidesPerView]="1.2" [spaceBetween]="10" [observer]="true" [observeParents]="true">
      <swiper-slide class="meal-plan-swiper" (click)="test()">
        <ion-item lines="none">
          <ion-label slot="start">
            <h2 >Meal Plans</h2>
            <p>
              See what meals your nutritionist has provided you
            </p>
            <ion-icon name="nutrition-outline" slot="end"></ion-icon>
          </ion-label>
        </ion-item>
      </swiper-slide>

      <swiper-slide class="meal-plan-swiper">
        <ion-item lines="none">
          <ion-label slot="start">
            <h2>Your Nutritionist</h2>
            <p>
              Learn more about your nutritionist or get in contact
            </p>
            <ion-icon name="happy-outline" slot="end"></ion-icon>
          </ion-label>
        </ion-item>
      </swiper-slide>

      <swiper-slide class="meal-plan-swiper">
        <ion-item lines="none">
          <ion-label slot="start">
            <h2>Account details</h2>
            <p>
              Access the information linked to your account 
            </p>
            <ion-icon name="settings-outline" slot="end"></ion-icon>
          </ion-label>
        </ion-item>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="recipes-div">
    <h2 style="font-size: 20px;">Recipes</h2>
  </div> -->

</ion-content>
