.graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


ion-content {
.page-content {
    margin-top: 10vh;
}
}
    

ion-toast.error-toast {
    --background: rgb(253, 181, 181);
    color:  rgb(179, 23, 23);
}

ion-toast.success-toast {
    --background: rgb(127, 216, 127);
    color:  rgb(18, 80, 18);
}



ion-row.login-title {
    margin-top: 6vh;
    ion-col {
        display: flex;
        align-items: center;
        gap: 10px;
        ion-label {
            font-size: 2rem;
            font-weight: 700;
            p {
                margin-top: 1rem;
            }
        }
        ion-icon {
            font-size: 2rem;
        }
    }
}

ion-toast {
    --background: rgb(253, 181, 181);
    color:  rgb(179, 23, 23);
}

ion-row.logo {
    margin-top: 3rem;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 13rem;
            margin-bottom: 3rem;
            
        }
    }
    
}

ion-col.danger-warning {
    background: var(--ion-color-warning-soft);
    color: var(--ion-color-warning-danger);
    padding: 15px;
    margin: 20px;
    border-radius: 0.25rem;
    border-color: #f5c6cb;
    display: absolute;
}

form {
        //email field
        ion-input:first-child {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            --padding-start: 2rem;
            --border-radius: 10px;
            ion-button {
                ion-icon {
                color:  #44aa79;
                }
            }
        }
        //password field
        ion-input {
            margin-bottom: 3rem;
            font-size: 1.5rem;
            --padding-start: 20px;
            --border-radius: 10px;
            ion-button {
                ion-icon {
                font-size: 2.7em;
                color: var(--ion-color-green);
                }
            }
        }
        

        ion-row {

            margin-bottom: 20px;
            ion-col {
                padding: 0;
                margin: 0;
                p {
                    font-weight: 600;
                    font-size: 1.2rem;
                    display: inline-block;
                }
            }
        }
        
    
    ion-button.login {
        // color: black;
        // font-weight: 600;
        --border-radius: 10px;
        letter-spacing: 0;
        font-size: 1.7rem;
        --background: var(--ion-color-green);
        // --background-hov
        --background-activated: #60b48b;
        text-transform: none;
    }
}

ion-row.sign-up {
    margin-top: 20px;
    ion-col {
        text-align: center;
        ion-text {
            // color: #757171;
            font-size: 1.2rem;
            font-weight: 600;
            span {
                // color: black;
            }
        }
    }
}

ion-row.login-description {
    margin-left: 2.5vh;
    ion-col {
        ion-label {
            // color: #757171;
            font-size: 0.9rem;
        }
    }
}