<ion-content>

  <ion-row class="login-title">
    <ion-col>
      <ion-label>
        Account Login
      </ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="login-logo">
    <ion-col>
    <img src="assets/imgs/logo.png">
    </ion-col>
  </ion-row>

  <form class="login-form">
    <ion-input
    fill="outline"
    placeholder="Email"
    type="email"
    >
    </ion-input>
  
    <ion-input
    fill="outline"
    placeholder="Password"
    type="password"
    >
    </ion-input>


    <ion-text>
      <p>Forgot Password?</p>
    </ion-text>

    <ion-button expand="block">Login</ion-button>
 </form>
   
  

</ion-content>
