<ion-content>

  <ion-row class="login-title">
    <ion-col>
      <ion-label>
        Account Login
      </ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="login-logo">
    <ion-col>
    <img src="assets/imgs/logo.png">
    </ion-col>
  </ion-row>

  <form> 
    <ion-input
    mode="md"
    fill="outline"
    placeholder="Email"
    type="email">
    </ion-input>
  
    <ion-input
    mode="md"
    fill="outline"
    placeholder="Password"
    type="password"
    [type]="passIsVisible ? 'text' : 'password'">
    <ion-button  (click)="changeEyeIcon()" fill="clear" slot="end" aria-label="Show/hide">
      <ion-icon slot="icon-only" name="{{currentIconName}}"></ion-icon>
    </ion-button>
    </ion-input>
  
    <ion-text>
      <p>Forgot Password?</p>
    </ion-text>
  
    <ion-button class="login" expand="block">Login</ion-button>
  </form>
 

   
  <ion-row class="sign-up">
    <ion-col>
      <ion-text>Don't have an account? <span>Sign Up</span></ion-text>
    </ion-col>
  </ion-row>

</ion-content>
