ion-content {
    background: url('/assets/imgs/backgroundtest.png');
    background-size: cover;
    background-repeat: no-repeat;
  }


ion-row.login-title {
    margin-left: 2.5vh;
    margin-top: 4vh;
    ion-col {
        display: flex;
        align-items: center;
        gap: 10px;
        ion-label {
            font-size: 1.36rem;
            font-weight: 700;
        }
        ion-icon {
            font-size: 1.5rem;
        }
    }
}

ion-row.login-logo {
    margin-top: 8vh;
    ion-col {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 150px;
            margin-bottom: 20px;
            
        }
    }
    
}

form {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
        ion-input {
            margin-bottom: 10px;
            --padding-start: 20px;
            --border-radius: 10px;
            ion-button {
                ion-icon {
                color:  #44aa79;
                }
            }
        }

    ion-text {
        padding-right: 40px;
        text-align: right;
        font-weight: 600;
        font-size: 0.8rem;
    }
    ion-button.login {
        color: black;
        --border-radius: 10px;
        letter-spacing: 0;
        font-size: 1.3rem;
        --background: #44aa79;
        --background-activated: #60b48b;
        text-transform: none;
    }
}

ion-row.sign-up {
    margin-top: 20px;
    ion-col {
        text-align: center;
        ion-text {
            color: #757171;
            font-size: 0.8rem;
            font-weight: 600;
            span {
                color: black;
            }
        }
    }
}